.product-area {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-column-gap: 50px;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .product-area {
        display: block;
        margin: 20px
    }
  }